*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #b0e0e6;
}

/* Stili specifici per logo, nav e login */
.header .logo, .header .nav, .header .login {
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box; 
}


.header .nav a {
    text-decoration: none;
    color: black;
}


.nav a {
    text-decoration: none;
    color: black;
}

/* Sezione principale */
.main {
    background-color: #000080;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.big-box {
    background-color: #EE82EE;
    width: 60%;
    height: 300px;
}

/* Sezione con due colonne */
.section {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.section .box {
    height: 200px;
    max-width: 300px;
}

.section .left {
    background-color: #1E90FF;
    width: 40%;
}

.section .right {
    width: 25%;
    background-color: #FFC0CB;
}

.section.reversed{
    background-color: #D3D3D3;
}

.section.reversed .left {
    background-color: #FFC0CB;
    width: 40%;
}

.section.reversed .right {
    background-color: #1E90FF;
    width: 25%;
}

/* Sezione con blocco grande */
.section.green {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.green-box {
    background-color: #228b22;
    width: 65%;
    height: 350px;
}

